@import "book.scss";

body {
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #2b2b2b;
  line-height: 1.75;
  font-size: 1.1em;
}

@keyframes smoothscroll1 {
  from, to { scroll-behavior: smooth; }
}

@keyframes smoothscroll2 {
  from, to { scroll-behavior: smooth; }
}

html {
  animation: smoothscroll1 1s;
}

* {
  box-sizing: border-box;
}

html:focus-within {
  animation-name: smoothscroll2;
  scroll-behavior: smooth;
}

a {
  color: inherit;

  .about &:focus {
    background: #45576b;
    color: #fff;
    padding: .1em .1em;
    margin: -.1em -.1em;
    outline-color: transparent;
  }
}

.wrapper {
  max-width: 100%;
  width: 1024px;
  padding: 0 2rem;
  margin: 0 auto;

  &--stage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #45576b;

    article {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.btn {
  background: #45576b;
  color: #fff;
  text-decoration: none;
  padding: 1rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover, &:focus {
    text-decoration: underline;
    text-underline-offset: 4px;
    outline-color: transparent;
  }

  small {
    font-size: .66em;
    font-style: italic;
  }
}

.btn--sample {
  background: #4d6c76;
}

.btn--cta {
  font-weight: 800;
  text-transform: uppercase;
}

.stage {
  background: #c1e6d8;
  background-image: linear-gradient(#c1e6d8, #9feebf);
  //transform: skew(-1deg);

}

.o-list {
  padding-left: 1.3rem;
}

.toc ol ol {
  margin-bottom: 1.25rem;
}

.o-list--bare {
  list-style: none;
  padding: 0;
  margin: 0;

  > li {
    display: inline-block;
    color: #45576b;


    .toc & {
      width: 100%;
      font-weight: 700;
    }

    .inner-wrapper {
      display: grid;
      grid-template-columns: 4fr 4fr 1fr;
    }
  }

  p {
    font-style: italic;
    font-weight: 400;
    max-width: 50ch;
    text-align: right;
    margin-top: 0;
  }
}

.about {
  margin: 3.5rem 0;

  &--portrait {
    float: right;
    max-width: 130px;
    margin-left: 2rem;
    border-radius: 50%;
  }
}

.main-headline {
  margin: 0;
  font-size: 3.25rem;
  line-height: 1;
  font-weight: 800;
}

.main-copy {
  margin: 1.75em 0;
}

.main-buttons {

  .btn {
    margin-right: 1rem;
    margin-bottom: 1rem;

    svg {
      margin-left: 1ch;
    }
  }
}

ol, ul {
  li {
    line-height: 1.9;
  }
}

h2 {
  font-weight: 800;
  font-size: 2.4rem;
  margin-bottom: 0;
  line-height: 1;
}

h3 {
  color: #484848;
  background: rgba(#c1e6d8, .15) linear-gradient(#fff, rgba(#9feebf, .35));
  display: inline-block;
  padding: 0 1ch;
  transform: rotate(-1deg);
  line-height: 1.3;
  margin-bottom: .75rem;
}

.visually-hidden {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.learnings {
  margin: 2.5rem 0 3rem 0;
}

.features {
  margin: 2.5rem 0 3rem 0;
  display: flex;
  justify-content: space-around;

  li {
    display: inline-block;
    background: rgba(#c1e6d8, .15);
    background-image: linear-gradient(#fff, rgba(#9feebf, .25));
    //    border-radius: 1rem;
    color: #4d6c76;
    flex: 0 1 25%;
    line-height: 1.3;
    padding: 1rem;
    text-align: center;
    transform: rotate(-2deg);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .075);


    svg {
      display: inline-block;
      margin-bottom: .5rem;
    }
  }
}

.big {
  font-size: 1.5rem;
  font-weight: 800;
  display: block;
}

.buy {
  color: #45576b;
  margin: 3.5rem 0;
  position: relative;

  h2 {
    color: #2b2b2b;
    margin-top: 0;
  }

  .stage {
    padding: 2rem 5rem 2rem 2rem;
    display: grid;
    grid-template-columns: 215px 1fr;
    grid-gap: 2rem;
  }

  .cover {
    max-width: 200px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.35);
  }

  .link {
    float: right;
    font-weight: 700;

    &:focus {
      background: #45576b;
      color: #fff;
      padding: .5em 1em;
      margin: -.5em -1em;
      outline-color: transparent;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}

#buy[tabindex="-1"] {
  outline: 0;
}

.toc-no {
  margin-left: 2rem;
  color: #45576b;
  //background-image: linear-gradient(#4d6c76, #fff);
  line-height: .9;
  font-size: 4rem;
  padding: 0 1rem;
  display: inline-block;
}

footer {
  background: #45576b;
  color: #fff;
  padding: .5rem 0;

  .footer-nav {
    display: flex;
    justify-content: space-between;

    a {
      color: #fff;
      text-decoration: none;

      &:focus {
        text-decoration: underline;
        text-underline-offset: 4px;
        outline-color: transparent;
      }
    }
  }

  li {
    margin-left: 2rem;
  }

  .legal {
    margin-right: auto;
    margin-left: 0;
  }
}

.leanpub-note {
  font-size: 85%;

  p {
    margin-top: 0;
    font-style: italic;
    margin-bottom: 2em;
  }
}

@import "mq.scss";
