<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.3.1/build/styles/a11y-dark.min.css">
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.3.1/build/highlight.min.js"></script>
<script defer data-domain="accessible-vue.com" src="https://plausible.io/js/plausible.js"></script>
<script>hljs.highlightAll();</script>
</body>
</html>
